// Spacings
$baseSize: 16px;
$spacing: 1rem;
$mainBreakpoint: (48 * $baseSize) - 1px;
$mediumBreakpoint: 36rem;
$menuBreakpoint: $mainBreakpoint + (6 * $baseSize);
$footerBreakpoint: 32rem;

// Timings

$defaultTransitionTime: 0.1s;
$longTransitionTime: 0.2s;