---
layout: base
---

<article class="single-article">
  <header>
    <h1>{{ title }}</h1>
  </header>
  {% include "partials/post/top-meta.njk" %}
  {% include "disclaimers/disclaimer.njk" %}

  {{ title }}

{{ label }}

{% for track, track in tracks %}
<p>{{track.number}}: {{track.title}}</p>
<p>{{track.duration}}, {{track.isrc}}</p>
{% endfor %}
  {{ content | safe }}
</article>

{% include "partials/post/author-info.njk" %}
{% include "partials/post/bottom-meta.njk" %}
{% include "partials/post/navigation.njk" %}
{# {% include "partials/scroll-up-arrow.njk" %} #}